.slide{
    display: flex;
    justify-content: flex-end;
}

.slide img{
    width: 50%;
    height: auto;
}

.slideText{
    display: grid;
    justify-content: center;
    width: 40%;
}

button{
    background-color: #5DA9A6;
    color: white;
    border: none;
    border-radius: 4px;
}